body {
    /*background-image: url("../img/infoWall.jpg");*/
    /*background-repeat: no-repeat;*/
   	/*background-attachment: fixed;*/
   	/*background-position: center;*/
   	/*background-size: 80%;*/
}

.buttons {
	margin-top: 15px;
	display: inline-block;
	position: fixed;
}

.attack {
	display: block;
	margin: 5px;
	border: 5px solid blue;
}

.reset {
	display: block;
	margin: 5px;
	border: 5px solid red;
}

.inputField {
	margin-top: 15px;
}

.characters {
	display: inline-block;
	border: 2px solid black;
	padding: 0 5px 5px;
}

.Knight {
	display: inline-block;
	padding: 0 2px 0 5px;
}

.Archer {
	display: inline-block;
	padding: 0 2px 0 2px;
}

.Sorcerer {
	display: inline-block;
	padding: 0 5px 0 2px;
}

p {
	margin-top: 20px;
}

.radio {
	display: inline-block;
}

.resultWindow {
	margin-left: 100px;
}